body {
      background-color: #57a1f8;
      font-family: Arial, sans-serif;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 50px;
    }

    .button {
      background-color: #fbb6c2;
      color: #000;
      text-align: center;
      padding: 20px 5px;
      border-radius: 40px;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
      width: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button:hover {
      transform: scale(1.05);
    }

    .grid {
      display: grid;

      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      max-width: auto;
      margin: 20px 20px;
      justify-content: center;
      align-items: center;
    }
h1 { text-align: center; color: #000; margin-bottom: 5px;}
    .palavra {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .palavra button {
      display: flex;
    }
    .palavra button:hover {
      transform: scale(1.05);
    }

.significado {
  flex: 1;
    background-color: #fbb6c2;
    padding: 20px;
    border-radius: 10px;
      text-align: center;
      color: #000;
      font-size: 18px;
      margin-top: 10px;
    }
.ds{
    color : #858585;
    font-size: 14px;
    text-align: center;
    margin: 5px 5px;
    padding: 2px;
    font-style: italic;
}
.def{
    color: #000;
    font-size: 16px;
    text-align: center;
    margin: 5px 5px;
    padding: 2px;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 10px;
    color: #000;
    font-size: 14px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}